{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Marubeni Dispatch System</h1>
<br>
<p>Welcome to the new Marubeni Dispatch System</p>
<p>To start select a tab from the top navigation bar. You will notice once you have selected and page there is a set of tabs just under the navigation bar that sorts from departments</p>
<p>"Shop Work" will show all job that are assigned to each assembly department</p>
<p>"Add Job" this will allow you to add jobs to each department as well as add jobs to archive to keep a record</p>
<p>"Log in" will allow you to use the "Add Job" page and some other features. If you feel like you should have access to some features please see management</p>
{% endblock %}