{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class = "alert alert-danger">
      {{ message }}
    </div>
{%- endfor %}
<h1>Marubeni Dispatch System</h1>
<br>
<p>Welcome to the new Marubeni Dispatch System</p>
<p>To start select a tab from the top navigation bar. You will notice once you have selected and page there is a set of tabs just under the navigation bar that sorts from departments</p>
<p>"Shop Work" will show all job that are assigned to each assembly department - Each job will have a triangle to quickly tell if all parts are in stock. Green means all parts are here. Red means parts are missing - you can click on the red triangle to be shown what parts are missing</p>
<p>"Add Job" this will allow you to add jobs to each department as well as add jobs to archive to keep a record</p>
<p>"Parts List" will display a list of all missing parts for the ASM01 and ASM02 areas - Missing parts can be sorted by columns</p>
<p>"Add Part" will allow those who can sign it to add missing parts to the list</p>
<p>"Log in" will allow you to use the "Add Job" and "Add Part" page</p>
{% endblock %}