{% extends "base.html" %}
{% block title %}ADD JOB{% endblock %}
{% block content %}
<style>
   form {
     max-width: 600px;
     margin: 0 auto;
   }
   label {
     display: inline-block;
     width: 120px;
     text-align: right;
     margin-right: 10px;
   }
   input[type="text"],
   textarea {
     width: 100%;
     box-sizing: border-box;
   }
   .form-group {
     margin-bottom: 15px;
   }
 </style>

<h2>Add Job</h2>

{%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class = "alert alert-danger">
      {{ message }}
    </div>
{%- endfor %}

<form action="{{ request.path }}" method="POST">
  <div class="form-group">
    <label for="target_table">Target Table</label>
    <select name="target_table" id="target_table">
      <option value="asm01">ASM01</option>
      <option value="asm02">ASM02</option>
      <option value="archive">Archive</option>
    </select>
  </div>
      
<form action="{{ request.path }}" method="POST">
  <div class="form-group">
    <label for="order_date">Order Date</label>
    <input type="text" name="order_date" id="order_date">
  </div>
         <label for = "ship_date">Ship Date</label>
         <input type = "text" name = "ship_date" id=""><br>
         <label for = "due_date">Due Date</label>
         <input type = "text" name = "due_date" id=""><br>
         <label for = "projectnum">Project Number</label>
         <input type = "text" name = "projectnum" placeholder = "MCC***" /><br>
         <label for = "jobnum">Job Number</label>
         <input type = "text" name = "jobnum" placeholder = "1234" /><br>
         <label for = "salesnum">Sales Number</label>
         <input type = "text" name = "salesnum" placeholder = "1234" /><br>
         <label for = "customername">Customer Name</label>
         <input type = "text" name = "customername" placeholder = "John Smith inc" /><br>
         <label for = "builder">Builder</label>
         <input type = "text" name = "builder" placeholder="Scott"><br>
         <label for = "status">Status</label>
         <input type = "text" name = "status" placeholder = "NEW"><br>
         <label for = "order_quantity">Order Quantity</label>
         <input type = "text" name = "order_quantity" id=""><br>
         <div class="form-group">
          <label for="notes">NOTES</label>
          <textarea name="notes" id="notes" cols="30" rows="2"></textarea>
        </div>
        <input type="submit" value="Submit" />
     </form>
     
     {% endblock %}