{% extends "base.html" %}

{% macro render_table(data, parts_job_numbers) %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Triangle</th>
        <th>Project Number</th>
        <th>Job Number</th>
        <th>Sales Order</th>
        <th>Customer Name</th>
        <th>Builder</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Due Date</th>
        <th>Order Date</th>
        <th>Ship Date</th>
        <th>Order Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for job in data %}
        <tr>
          {% if job.job_number in parts_job_numbers %}
            <td><svg width="20" height="20"><polygon points="10,0 20,20 0,20" fill="red" /></svg></td>
          {% else %}
            <td><svg width="20" height="20"><polygon points="10,0 20,20 0,20" fill="green" /></svg></td>
          {% endif %}
          <td>{{ job.project_number }}</td>
          <td>{{ job.job_number }}</td>
          <td>{{ job.sales_order }}</td>
          <td>{{ job.customer_name }}</td>
          <td>{{ job.builder }}</td>
          <td>{{ job.status }}</td>
          <td>{{ job.notes }}</td>
          <td>{{ job.due_date }}</td>
          <td>{{ job.order_date }}</td>
          <td>{{ job.ship_date }}</td>
          <td>{{ job.order_quantity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% block content %}
  <div class="container mt-5">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="ASM01-tab" data-toggle="tab" href="#ASM01">ASM01</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ASM02-tab" data-toggle="tab" href="#ASM02">ASM02</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="archive-tab" data-toggle="tab" href="#archive">Archive</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="ASM01" role="tabpanel" aria-labelledby="ASM01-tab">
        {{ render_table(ASM01_data, parts_job_numbers) }}
      </div>
      <div class="tab-pane fade" id="ASM02" role="tabpanel" aria-labelledby="ASM02-tab">
        {{ render_table(ASM02_data, parts_job_numbers) }}
      </div>
      <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
        {{ render_table(archive_data, parts_job_numbers) }}
      </div>
    </div>
  </div>
{% endblock %}