{% extends "base.html" %}

{% import "table_component.html" as table_component %}

{% block content %}
<div class="container mt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="ASM01-tab" data-toggle="tab" href="#ASM01">ASM01</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ASM02-tab" data-toggle="tab" href="#ASM02">ASM02</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="archive-tab" data-toggle="tab" href="#archive">Archive</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="ASM01" role="tabpanel" aria-labelledby="ASM01-tab">
      {{ table_component.render_table(ASM01_data) }}
    </div>
    <div class="tab-pane" id="ASM02" role="tabpanel" aria-labelledby="ASM02-tab">
      {{ table_component.render_table(ASM02_data) }}
    </div>
    <div class="tab-pane" id="archive" role="tabpanel" aria-labelledby="archive-tab">
      {{ table_component.render_table(archive_data) }}
    </div>
  </div>
</div>
{% endblock %}
