<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('table') }}">MCC Projects</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Projects (<a href = "{{ url_for('new') }}">Add Project
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Project Number</th>
               <th>Job Number</th>
               <th>Sales Number</th>
               <th>Customer Name</th>
               <th>Builder</th>
               <th>Status</th>
            </tr>
         </thead>
         
         <tbody>
            {% for project in projects %}
               <tr>
                  <td>{{ project.projectnum }}</td>
                  <td>{{ project.jobnum }}</td>
                  <td>{{ project.salesnum }}</td>
                  <td>{{ project.customername }}</td>
                  <td>{{ project.builder }}</td>
                  <td>{{ project.status }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>