<div class="tab-pane fade show active" id="ASM01" role="tabpanel" aria-labelledby="ASM01-tab">
    {{ render_table(ASM01_data, parts_job_numbers, "sortable-table-body-ASM01") }}
</div>
<div class="tab-pane fade" id="ASM02" role="tabpanel" aria-labelledby="ASM02-tab">
    {{ render_table(ASM02_data, parts_job_numbers, "sortable-table-body-ASM02") }}
</div>
<div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
    {{ render_table(archive_data, parts_job_numbers, "sortable-table-body-archive") }}
</div>

